.task-list-container {
    border-top: 1px solid rgb(189, 189, 189);
    height: 218px;
    overflow-y: auto;

    .task-list-container__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 10px;
        font-size: 30px;
        border-top: 1px solid rgb(189, 189, 189);

        input {
            border: none;
            background-color: transparent;
            outline: none;
            font-size: 30px;
            color: rgb(189, 189, 189);
            font-style: italic;
            min-width: 600px;
        }

        del {
            color: rgb(189, 189, 189);
        }

        .task-list-container__active-task-indicator {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid rgb(204, 204, 204);
            display: flex;
            align-items: center;
            justify-content: center;
            color: #7bc1b1;
        }

        .task-list-container__item-additional-actions {
            opacity: 0;
            transform: scale(0.5);
            transition: 0.4s ease-in-out all;
        }

        &:hover {
            .task-list-container__item-additional-actions {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}